<article>
  <header><h2>登录</h2></header>
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="_submitForm()">
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="loginForm.controls.userName">
        <nz-input formControlName="account" [nzPlaceHolder]="'账号'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="loginForm.controls.account.dirty&&loginForm.controls.account.hasError('required')">请输入您的账号!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="loginForm.controls.password">
        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="loginForm.controls.password.dirty&&loginForm.controls.password.hasError('required')">请输入您的密码!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
        <button nz-button class="login-form-button" [nzSize]="'large'" (click)="gotoRegister()">注册</button>
      </div>
    </div>
  </form>
</article>
