section{
  height: 100%;
}
.link-service{
  position: absolute;
  right: 16px;
  top: 16px;
}
h2{
  line-height: 50px;
}
.division{
  width: 1px;
  border-right: 1px solid #dddddd;
  height: 90%;
  margin-right: 50px;
}
