section{
  height: 32px;
  line-height: 32px;
  border: 1px solid #dddddd;
  padding: 0 16px;
  border-radius: 4px;
  margin-bottom:8px;
}
.empty-panel{
  text-align: center;
  cursor: pointer;
}
.empty-panel>.anticon-plus{
  font-size: 20px;
  color: #999999;
}
.head{
  font-size: 16px;
  display: inline-block;
  width: 50px;
}
.tail{
  float: right;
}
