.person-button{
  margin-right: 16px;
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
}

.person-button>button{
  display: block;
  margin-bottom: 24px;

}
form{
  width: 60%;
  margin-top: 50px;
  max-width: 600px;
  display: inline-block;
}
