<nz-radio-group [(ngModel)]="scope" class="content-nav">
  <label nz-radio-button [nzValue]="'modular'" (click)="changeScope()">
    <span>模块</span>
  </label>
  <label nz-radio-button [nzValue]="'interfaces'" (click)="changeScope()">
    <span>接口</span>
  </label>
  <label *ngIf="!parent" nz-radio-button [nzValue]="'allInterfaces'" (click)="changeScope()">
    <span>所有接口</span>
  </label>
  <label nz-radio-button [nzValue]="'user'" (click)="changeScope()">
    <span>相关用户</span>
  </label>
</nz-radio-group>
<i class="anticon anticon-rollback modular-back" style="float: right" (click)="backParent()"></i>
<div *ngIf="scope==='modular'">
  <card *ngIf="project['writable']==='writer'" [empty]="true" (click)="addModular($event)"></card>
  <card
    *ngFor="let p of data"
    [title]="p['name']"
    [tags]="p['tags']"
    [content]="p['content']"
    [data]="p"
    (leftClick)="modifyModular(p)"
    (rightClick)="childModular(p)"
  ></card>
</div>
