<nz-radio-group [(ngModel)]="scope" class="content-nav">
  <label nz-radio-button [nzValue]="'modular'" (click)="changeScope()">
    <span>模块</span>
  </label>
  <label nz-radio-button [nzValue]="'interfaces'" (click)="changeScope()">
    <span>接口</span>
  </label>
  <label *ngIf="!parent" nz-radio-button [nzValue]="'allInterfaces'" (click)="changeScope()">
    <span>所有接口</span>
  </label>
  <label nz-radio-button [nzValue]="'user'" (click)="changeScope()">
    <span>相关用户</span>
  </label>
</nz-radio-group>
<i class="anticon anticon-rollback modular-back" style="float: right" (click)="backParent()"></i>
<div *ngIf="scope==='modular'">
  <card *ngIf="parent ? modular['writable']==='writer':project['writable']==='writer'" [empty]="true" (click)="addModular($event)"></card>
  <card
    *ngFor="let d of data"
    [title]="d['name']"
    [tags]="d['tags']"
    [content]="d['content']"
    [data]="d"
    [leftDisabled]="d['writable']!=='writer'"
    (leftClick)="modifyModular(d)"
    (rightClick)="childModular(d)"
  ></card>
</div>
<div *ngIf="scope==='interfaces'">
  <interfaces-item [empty]="true" (click)="addInterfaces($event)"></interfaces-item>
  <interfaces-item
                   *ngFor="let d of data"
                   [head]="d['method']"
                   [body]="d['fullPath']"
                   [tail]="getDate(d['createdTime'])"
                   (click)="gotoAnalog(d)"
  ></interfaces-item>
</div>
