.modular-operate{
  float: right;
  font-size: 20px;
  margin-right: 8px;
}
.modular-operate .anticon{
  margin-left: 8px;
  cursor: pointer;
}
.interfaces-selected{
  border: 1px solid #dddddd;
  border-radius: 4px;
}
