<nz-layout>
  <nz-sider [nzWidth]="300" style="background:#fff">
    <nz-collapseset [nzBordered]="false" class="baseinfo-content">
      <nz-collapse [nzActive]="!parent && !interfaces['id']">
        <header collapse-title class="baseinfo-header">
          <span>{{project['name']}}</span>
          <span class="baseinfo-operate">
            <i nz-tooltip="上传"
               *ngIf="!getRemoteStatus()"
               class="anticon anticon-upload"
               (click)="beginUpload($event)"></i>
            <i nz-tooltip="下载"
               *ngIf="getRemoteStatus()"
               class="anticon anticon-download"
               (click)="beginDownload($event)"></i>
            <i nz-tooltip="启动"
               *ngIf="!getRemoteStatus()&&!getProjectStatus(project['account'])"
               class="anticon anticon-caret-right"
               (click)="startAnalogService($event)"></i>
            <i nz-tooltip="停止"
               *ngIf="!getRemoteStatus()&&getProjectStatus(project['account'])"
               class="anticon anticon-poweroff"
               (click)="stopAnalogService($event)"></i>
            <i *ngIf="project.writable==='writer'" nz-tooltip="修改" class="anticon anticon-edit" (click)="modifyProject($event)"></i>
            <i *ngIf="project.writable==='writer'" nz-tooltip="修改路径" class="anticon anticon-link" (click)="modifyProUrl($event)"></i>
            <i *ngIf="project.writable==='writer'" nz-tooltip="删除" class="anticon anticon-delete" (click)="deleteProject($event,deleteProjectContent,deleteProjectContentFooter)"></i>
          </span>
        </header>
        <ul class="baseinfo-body">
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">代号</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['account']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">负责人</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['leader']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">端口</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['port']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">路径</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['url']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">权限</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['authority']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建者</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['creatorName']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建时间</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{getDate(project['createdTime'])}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">备注信息</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{project['comment']}}</span>
          </li>
        </ul>
      </nz-collapse>
      <nz-collapse *ngFor="let m of modulars;let i = index"  [nzActive]="!interfaces['id'] && parent===m['id']">
        <header collapse-title class="baseinfo-header">
          <span>{{m['name']}}</span>
          <span class="baseinfo-operate">
            <i *ngIf="m.writable==='writer'" nz-tooltip="修改" class="anticon anticon-edit"></i>
            <i *ngIf="m.writable==='writer'" nz-tooltip="修改路径" class="anticon anticon-link"></i>
            <i *ngIf="i==(modulars.length-1) && m.writable==='writer'" nz-tooltip="删除" class="anticon anticon-delete" (click)="deleteModular($event,m)"></i>
          </span>
        </header>
        <ul class="baseinfo-body">
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">路径</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{m['url']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建者</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{m['creatorName']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建时间</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{getDate(m['createdTime'])}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">备注信息</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{m['comment']}}</span>
          </li>
        </ul>
      </nz-collapse>
      <nz-collapse [nzActive]="true" *ngIf="interfaces && interfaces['id']">
        <header collapse-title class="baseinfo-header">
          <span>{{interfaces['url']}}</span>
          <span class="baseinfo-operate">
            <i *ngIf="interfaces.writable==='writer'" nz-tooltip="修改" class="anticon anticon-edit" (click)="modifyInterfaces($event)"></i>
            <i *ngIf="interfaces.writable==='writer'" nz-tooltip="删除" class="anticon anticon-delete" (click)="deleteInterfaces($event,interfaces['id'])"></i>
          </span>
        </header>
        <ul class="baseinfo-body">
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">请球类型</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{interfaces['method']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">完整路径</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{interfaces['fullPath']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建者</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{interfaces['creatorName']}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">创建时间</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{getDate(interfaces['createdTime'])}}</span>
          </li>
          <li nz-row>
            <span nz-col [nzSm]="6" [nzXs]="24">备注信息</span>
            <span nz-col [nzSm]="2" [nzXs]="24">:</span>
            <span nz-col [nzSm]="16" [nzXs]="24">{{interfaces['comment']}}</span>
          </li>
        </ul>
      </nz-collapse>
    </nz-collapseset>
  </nz-sider>
  <nz-layout style="background-color: #ffffff;padding-left: 16px;padding-top: 6px;">
    <nz-content>
      <router-outlet name="modular"></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #deleteProjectContent>
  <div>
    <h2 style="margin-bottom: 8px;">确认删除{{project['name']}}项目吗？</h2>
    <p>完全删除项目的相关接口文件信息也会被一起删除，普通删除则会保留文件信息。不想删除请点右上角关闭窗口。</p>
  </div>
</ng-template>
<ng-template #deleteProjectContentFooter>
  <div>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="confirmDeleteProject($event,false)" [nzLoading]="isConfirmLoading">
      普通删除
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="confirmDeleteProject($event,true)" [nzLoading]="isConfirmLoading">
      完全删除
    </button>
  </div>
</ng-template>
