<header>
  <button nz-button  [nzType]="'primary'" (click)="addAnalog($event)">添加</button>
</header>
<aside class="analog-operate">
  <i class="anticon anticon-rollback" nz-tooltip="返回" (click)="backModular($event)"></i>
</aside>
<nz-collapseset class="analog-body">
  <nz-collapse *ngFor="let analog of data">
    <header collapse-title style="width: 100%;">
      <span [ngSwitch]="analog['saveType']">
        <b *ngSwitchCase="'text'">文本</b>
        <b *ngSwitchCase="'file'">文件</b>
      </span>
      <span [ngSwitch]="analog['dataType']">
        <b *ngSwitchCase="'json'">JSON</b>
      </span>
      <span>{{getDate(analog['createdTime'])}}</span>
      <div class="analog-item-operate">
        <i [class]="analog['active'] ? 'status active':'status inactive'"></i>
        <i *ngIf="interfaces.writable==='writer'" nz-tooltip="修改" class="anticon anticon-edit" (click)="modifyAnalog($event,analog)"></i>
        <i *ngIf="interfaces.writable==='writer'" nz-tooltip="删除" class="anticon anticon-delete" (click)="deleteAnalog($event,analog)"></i>
      </div>
    </header>
    <p>{{analog['comment']}}</p>
    <div><pre>{{analog['data']}}</pre></div>
  </nz-collapse>
</nz-collapseset>
