<nz-radio-group [(ngModel)]="scope" class="content-nav">
  <label nz-radio-button [nzValue]="'public'" (click)="changeScope('public')">
    <span>公开项目</span>
  </label>
  <label nz-radio-button [nzValue]="'leader'" (click)="changeScope('leader')">
    <span>负责项目</span>
  </label>
  <label nz-radio-button [nzValue]="'related'" (click)="changeScope('related')">
    <span>相关项目</span>
  </label>
</nz-radio-group>
<div>
  <card [empty]="true" (click)="addProject($event)"></card>
  <card
    *ngFor="let p of project"
    [title]="p['name']"
    [tags]="p['tags']"
    [content]="p['content']"
    [data]="p"
    [leftIcon]="getProjectStatus(p['account'])?'poweroff':'caret-right'"
    [leftText]="getProjectStatus(p['account'])?'停止':'启动'"
    (leftClick)="changeProjectState($event)"
    (rightClick)="detailProject($event)"
  ></card>
</div>
