<nz-radio-group [(ngModel)]="scope" class="content-nav">
  <label nz-radio-button [nzValue]="'pulbic'">
    <span>公开项目</span>
  </label>
  <label nz-radio-button [nzValue]="'leader'">
    <span>负责项目</span>
  </label>
  <label nz-radio-button [nzValue]="'related'">
    <span>相关项目</span>
  </label>
</nz-radio-group>
<div>
  <card class="project-card" [empty]="true" (click)="addProject($event)"></card>
  <card
    class="project-card"
    *ngFor="let p of project"
    [title]="p['name']"
    [tags]="p['tags']"
    [content]="p['content']"
    [leftDisabled]="p['leaderAccount']!==login['account']"
    [data]="p"
    (leftClick)="modifyProject($event)"
  ></card>
</div>
